<div>
    <form method="post" action="/login">
        <input type="text" name="username" id="username" placeholder="User Name" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input type="submit" value="Submit" />
    </form>
</div>