<div>
    <form>
        <input type="text" name="userName" id="userName" placeholder="User Name" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input type="submit" value="Submit" />
    </form>
</div>